/* GENERAL */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #060b1b;
    color: #e7eaff;
}

h1, h2, h3 {
    font-weight: 700;
    letter-spacing: 1px;
}

/* NAV */
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(10, 20, 40, 0.8);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.nav .logo {
    color: #4cc8ff;
    font-size: 1.7rem;
    font-weight: bold;
}

.nav a {
    margin-left: 25px;
    color: #e7eaff;
    text-decoration: none;
    font-size: 1rem;
}

.btn-nav {
    padding: 8px 18px;
    background: #00aaff;
    border-radius: 8px;
    color: #
